<div class="container">
    <div class="row">

        <div class="col-md-3 col-sm-6 to_animate">
            <div class="widget widget_flickr">
                <h3 class="widget-title">Flickr Widget</h3>
                <ul id="flickr"></ul>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 to_animate">

            <div class="widget widget_twitter">
                <h3 class="widget-title">Twitter Widget</h3>
                <div class="twitter"></div>
            </div>

        </div>



        <div class="col-md-3 col-sm-6 to_animate">
            <div class="widget widget_mailchimp">
                <h3 class="widget-title">Subscribe</h3>
                <p>Please, subscribe to our latest news to be updated.</p>
                <form id="signup" action="/" method="get" class="form-inline">
                    <div class="form-group">
                        <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="your@email.com">
                    </div>
                    <button type="submit" class="theme_button">Send</button>
                    <div id="response"></div>
                </form>
            </div>

        </div>


        <div class="col-md-3 col-sm-6 to_animate">
            <div class="widget widget_text">
                <h3 class="widget-title">Company Info</h3>
                <p>Voluptate maxime tenetur, aliquam illo nihil perferendis sapiente, accusamus.</p>
                <p>Adipisci numquam nesciunt cumque eos, officiis inventore quaerat.</p>
                <p>
                    <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                    <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                    <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                </p>
            </div>
        </div>




    </div>
</div>