<div class="modal fade order-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="loginModalLabel">Cleaners<span class="highlight"> Service</span> Order</h4>
            </div>
            <form role="form" action="/">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="modal_name" placeholder="Your Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="modal_phone" placeholder="Your Phone">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="modal_address" placeholder="Your Address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="modal_date" placeholder="Date of Cleaning">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="theme_button"><i class="rt-icon-ok"></i> Order Now!</button>
                    <a href="#" class="theme_button" data-dismiss="modal"><i class="rt-icon-times"></i> Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>